body {
    margin: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: 'Rubrik';
    src: url('styles/fonts/Rubrik/Rubrik-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova, sans-serif;
    src: url('styles/fonts/ProximaNova/ProximaNova-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova, sans-serif;
    src: url('styles/fonts/ProximaNova/ProximaNova-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova, sans-serif;
    src: url('styles/fonts/ProximaNova/ProximaNova-Semibold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


h1{
    font-family: 'Rubrik', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h2, h3, h4{
    font-family: 'proxima-nova', sans-serif;
    font-weight: normal;
    font-style: normal;
}

p{
    font-family: 'proxima-nova', sans-serif;
    font-weight: lighter;
}

.errorHide{
    display:none;
}

.errorShow{
    background-color: #ffa35b;
    height: 40px;
}

.alert-span{
    display: inline-block;
    margin-top: 15px;
    float: left;
    width: 100%;
}

.affordablyFont{
    color: #4cbc7b;
}

.hamburgerIcon{
    width: 68%;
}

.hamburgerIcon2{
    width: 5%;
    margin-left: 5%;
}

.logo {
    color: #4bbc7a;
}

.linkAccountForm{
    margin-top: 15%;
    width: 70% !important;
    margin-left: 15%;
    margin-top:10%;
    text-align:left;
}

.signForm{
    margin-top: 15%;
    width: 70% !important;
    /* margin-left: 15%; */
    margin-top: 10%;
    text-align: left;
}

.linkAccountContainer{
    padding: 0px;
    margin: 0px;
    width: 100% !important;
}

.linkAccountLabel{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 0.8em;
}

.linkButton{
    margin-top: 5%;
    width: 100%;
}

.title {
    font-family: 'Rubrik', sans-serif;
    font-weight: normal;
    margin-top: -5px;
}

.pageTitle{
    font-family: 'Rubrik', sans-serif;
    font-weight: normal;
    font-style: normal;
    /*margin-left: -5%;*/
    /*font-size: 0.73em;*/
}

.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.rightMenu{
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 1.25em;
    color: #999;
}

.titleHeader{
    background-color:#ffffff;
    border-bottom: 1px solid #e6eaed;
}

.labelText{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.85em;
    color: #666;
}

.transaction {
    /*height:80px;*/
    /*background-color: #ffffff;*/
}

.mainContainer{
    background-color: #ffffff;
}

.cashContainer{
    background-color: #ffffff;
}

.faded{
    background-color: #999999 !important;
}

.topButton {
    text-decoration: none;
}

.chartTitle{
    color: white;
    margin-left: 5%;
}

/*SIGN IN*/

.signIn{
    margin-top: 0%;
    display: inline-block;
    width: 100%;
}

.sign {
    text-align: center;
}

.email {
    margin:10% 0;
}

.password {
    margin: 5% 0;
}

input[type=text] {
    border: 0px;
    font-size: 1em;
    margin-top: 15px;
}

select {
    border: 0px;
    font-size: 1em;
    margin-top: 15px;
}

input[type=password] {
    border: 0px;
    font-size: 1em;
    margin-top: 15px;
}

.linkInput{
    background-color: #f4f8fb;
    height: 40px;
    margin-top: 0px !important;
    width: 100%;
}

.goalInput {
    display: inline;
    position: relative;
    top:10%;
}

.inputLine{
    height: 0px;
    border:0px;
    border-bottom: 1px solid #ebebeb;
}

button {
    border: 0;
    width: 70%;
    height: 40px;
    font-size: 1em;
    margin-bottom: 10px;
    background-color: #4A97F1;
    color: #FFFFFF;
    border-radius: 4px;
    border-bottom: 3px solid #3783d9;
}

.institutionButton{
    color: #FFFFFF;
    margin-left: 7.5%;
    margin-top: 0%;
    margin-bottom: 15px;
    border: 0;
    border-radius: 4px;
    width: 85%;
    height: 42px;
    font-size: 1em;
    background-color: #4bbc7a;
    border-bottom: 3px solid #3fa46a;
}

.signUpButton{
    color: #FFFFFF;
    margin-top: 0%;
    margin-bottom: 15px;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 42px;
    font-size: 1em;
    background-color: #4bbc7a;
    border-bottom: 3px solid #3fa46a;
}

.signInButton{
    border: 0;
    width: 100%;
    height: 40px;
    font-size: 1em;
    margin-bottom: 10px;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #e9a260;
    border-bottom: 3px solid #c2874f;
}

.goalButton{
    color: #FFFFFF;
    margin-top: 30%;
    margin-bottom: 15px;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 42px;
    font-size: 1em;
    background-color: #4bbc7a;
    border-bottom: 3px solid #3fa46a;
}

.signInInput{
    border-bottom: 1px solid #e6eaed !important;
    width: 70%;
}
.signInInput::-webkit-input-placeholder {
    margin-left:15px;
    color: #888;
    font-size: 85%;
}

:-moz-placeholder { /* Firefox 18- */
    margin-left:15px;
    color: #888;
    font-size: 85%;
}

::-moz-placeholder {  /* Firefox 19+ */
    margin-left:15px;
    color: #888;
    font-size: 85%;
}

:-ms-input-placeholder {
    margin-left:15px;
    color: #888;
    font-size: 85%;
}

#noAccountMessage{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 0.8em;
    color: #888;
}

#signUpLink{
    margin-top: 5px;
    padding-top: 0px;
    font-size: 0.9em;
}

#signUpLink a{
    text-decoration: none;
}

/*Bank Selection*/

.bankSearch {
    text-align: center;
    margin-top: 12.5%;

}

.center {
    position:absolute;
    text-align: center;
}

/* Daily Surface */
.dailyCash{
    position: relative;
    right: 18%;
    /*margin-left: 26%;*/
    margin-bottom: 0px;
    padding-top: 20%;
    font-size: 300%;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    font-style: normal;
}

#dailyCircle {
    position: relative;
    /*left: 5%;*/
    right:5%;
}

.dollarBills{
    color: #dbdbdb;
}

.cashText{
    color: #49bc79;
}

.dailyCashText{
    position: relative;
    right: 18%;
    margin-top:0px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #dbdbdb;
}

.dailyCenter{
    margin-left: 20%;
    margin-top: -77%;
}

/* Overview Surface */
.overviewContainer{
    background-color: #f4f8fb;
}

.overviewContent{
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 20%;
}

.overviewLine{
    font-family: 'proxima-nova', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 15px;
}

.overviewLabel{
    color:#666666;
}

.overviewText{
    float:right;
}


/* Graph Surface */
.graphSurface{
    background-color:#5698d5;
}

.graph {
    padding-top: 5%;
}


/* Form page styles */
.form-container label{
    width: 35%;
    font-size: 0.95em;
    margin-top: 5%;
    display: inherit;
    color: #888;
}

/*.form-container input{
    width: 100%;
    border: 0px;
    height: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left:5%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}*/


/* Settings Styles */
.settingBackground{
    background-color:#f4f8fb;
    border-top: 1px solid #e6eaed;
}

.fieldHolder{
    width: 100%;
    background-color: white;
    padding-left:5%;
    height:45px;
    padding-right:5%;
    border-top: 1px solid #e6eaed;
    border-bottom: 1px solid #e6eaed;
}

.settingLabel{
    float: left;
    width: 35%;
}

.settingCheckbox{
    margin-top:18px;
    width: 5% !important;
}