body {
    margin: 0;
    font-family: sans-serif;
}

.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.rightMenu{
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 1.25em;
    color: #999;
}

.transaction {
    /*height:80px;*/
    /*background-color: #ffffff;*/
}

.mainContainer{
    background-color: #ffffff;
}

.faded{
    background-color: #999999 !important;
}

.topButton {
    text-decoration: none;
}

/*SIGN IN*/
.sign {
    text-align: center;
    /*margin-top: 15%;*/
}
/*
.title {
    margin-bottom: 20%;
}


.email {
    margin:10% 0;
>>>>>>> 50aa2fe4d5781f7f9e60c87eac308190ab55374e
}
.password {
    margin:5% 0;
}*/

input[type=text] {
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 70%;
    font-size: 1em;
}

button[type=submit] {
    border: 0;
    width: 70%;
    height: 40px;
    font-size: 1em;
    margin-bottom: 10px;
    background-color: #4A97F1;
    color: #FFFFFF;
    border-radius: 4px;
}

/*Bank Selection*/

.bank {
background-color: blue;
}



/* Daily Surface */
.dailyCash{
    margin-left: 30%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 2em;
}

.dailyCashText{
    margin-left:25%;
    padding-top:0px;
    margin-top:0px;
}

.dailyCenter{
    margin-left:15%;
    margin-top:25%;
}

/* Overview Surface */
.overviewSurface{
    background-color: #ffffff;
    border-top: 0.1em solid #888888;
}

.overviewContent{
    width: 80%;
    padding-left: 10%;
    padding-right: 20%;
}

.overviewLine{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 12px;
}

.overviewLabel{
    color:#666666;
}

.overviewText{
    float:right;
}


/* Graph Surface */
.graphSurface{
    background-color:lightblue;
}


/* Form page styles */
.form-container label{
    width: 75%;
    font-size: 0.95em;
    margin-left: 5%;
    margin-top: 5%;
    display: inherit;
    color: #888;
}

.form-container input{
    width: 100%;
    border: 0px;
    height: 35px;
    margin-top: 5%;
    padding-left:5%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
