.menuSelections{
    border-bottom: 1px solid #e6eaed;
}

.menuIcon{
    width: 23px;
    padding-left: 15px;
    display: inline-block;
    margin-top: 12px;
    color: #4e83b9;
}

.accountsIcon{
    margin-top:15px;
}

.cashIcon{
    margin-top: 20px;
}

.menuText{
    font-size: 105%;
    display: inline-block;
    padding-left: 10px;
    margin-top: -5px;
    vertical-align: text-top;
    color: #6d6d6d;
}

.accountsText{
    margin-top:-5px;
}

.dailyCashText{
    margin-top: -2px;
    margin-left: 0px;
}

.menuLink{
    text-decoration: none;
}

.menuSpace, .menuButtonContainer{
    background-color:#f4f8fb;
}

.menuSpace{
    border-bottom: 1px solid #e6eaed;
}

.noBorder{
    border-bottom: 0px;
}

.menuButton{
    color: #FFFFFF;
    margin-left: 7.5%;
    margin-top: 0%;
    margin-bottom: 15px;
    border: 0;
    border-radius: 4px;
    width: 85%;
    height: 42px;
    font-size: 1em;
}

.addAccounts{
    background-color: #4bbc7a;
    border-bottom: 3px solid #3fa46a;
}

.questions{
    background-color: #d2d6d9;
    border-bottom: 3px solid #abafb2;
}

.nameContainer{
    border-bottom:0px;
}