
.transactionTitle{
    display: inline-block;
    margin-left: 24%;
    font-size: 1.2em;
    margin-top: 5%;
}

.hamburger{
    display:inline-block;
    margin-left: 5%;
    margin-top:5%;
}
.swipe {
    display: inline-block;
    margin-left: 24%;
    font-size: 1.2em;
    /*margin-top: 5%;*/
}

.transactionButtons{
    background-color:#f4f8fb;
    margin-top: 15%;
    border-top: 1px solid #e6eaed;
    z-index: 2;
}

.transactionHeader{
    z-index:2;
}

.button {
    border: 0;
    width: 70%;
    height: 40px;
    font-size: 1em;
    margin-bottom: 10px;
    background-color: #4A97F1;
    color: #FFFFFF;
    border-radius: 4px;
}

.outgoingButton{
    margin-left: 5%;
    width: 46%;
    margin-right: -10px;
    padding-right: 0px;
    height: 35px;
    background-color: #4bbc7a;
    border-bottom: 3px solid #3fa46a;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.incomingButton{
    padding-left: 0px;
    width: 45%;
    height: 35px;
    background-color: #d2d6d9;
    border-bottom: 3px solid #abafb2;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.transactionIcon{
    float: left;
    margin-top: 9%;
    margin-left: 5%;
}

.transactionNameDate{
    display: inline-block;
    margin-top: -10%;
    margin-left: 3%;
    float: left;
}

.nameText{
    font-size: 94%;
}

.dateText{
    margin-top: -65px;
    margin-left: 17%;
    font-size: 0.7em;
    color: #666;
    float: left;
}

.transactionPrice{
    float: right;
    margin-top: -7%;
    margin-right: 9%;
}