<fa-modifier fa-size="[undefined, undefined]" fa-translate="success">
  <fa-surface fa-background-color="'#ffffff'"></fa-surface>
</fa-modifier>
<fa-modifier fa-size="[undefined, 300]" fa-origin="[0,.25]" fa-translate="success">
  <fa-surface>
	  <div class="sign">
			<h1>Affordably</h1>
			<h5 class="title">The Fitness Coach for Your Finances</h5>
			<div class="email">
				<input type="text" placeholder="Email" data-ng-model="email"/>
			</div>
			<div class="password">
				<input type="text" placeholder="Password" data-ng-model="password"/>
			</div>

				<button type="submit" ng-click="submit(email, password)">Log In</button>
				<div ng-model="message"></div>

			<p>Don't have an account?</p>
			<h4><a ui-sref="signUp">Sign Up</a></h4>
	  </div>
	</fa-surface>
</fa-modifier>