<fa-modifier fa-size="[undefined, undefined]" fa-translate="success">
  <fa-surface fa-background-color="'#ffffff'"></fa-surface>
</fa-modifier>

<fa-modifier fa-size="[undefined, undefined]" fa-align="[0,0.1]" fa-translate="success">
    <fa-surface>
        <div class="bankSearch">
    	    <h1 class="affordablyFont">Affordably</h1>
		    <h5 class="title">Sign into your {{inst.institution_name}} account</h5>
        </div>
        <div class="linkAccountForm">
            <!-- <div ng-repeat="field in fields"  class="linkAccountContainer"> -->
                <div ng-show="fields[0].display_order == '1' || fields[1].display_order == '1'">
                    <p class="linkAccountLabel">User ID</p>
                    <hr class="inputLine">
                    <input type="text" name="user_id" data-ng-model="user_id" class="linkInput"/>
                    <br>
                </div>
                <div ng-show="fields[1].display_order == '2' || fields[0].display_order == '2'">
                    <p class="linkAccountLabel"> Password</p>
                    <hr class="inputLine">
                    <input type="password" name="password" data-ng-model="password" class="linkInput"/>
                    <br>
                </div>
               <!-- <div ng-if="field.display_order == '3'">
                    <p ng-bind="field.description" class="linkAccountLabel"></p>
                    <hr class="inputLine">
                    <input type="password" name="PIN" data-ng-model="pin" class="linkInput"/>
                </div> -->
            <!-- </div> -->
            <div ng-bind="link.content"></div>
            <button type="submit" ng-click="submit(user_id, password, pin)" class="linkButton">Link Account</button>
        </div>
    </fa-surface>
</fa-modifier>