<fa-modifier fa-size="[33, undefined]" fa-align="[.9,0]"	fa-background-color="'#BADA55'" fa-translate="getTranslater">
    <fa-surface fa-tap="main($event)"></fa-surface>
</fa-modifier>

<fa-modifier fa-align='[-1,0]' fa-translate="getTranslated">
    <fa-sequential-layout>
	    <fa-view>
		    <fa-modifier fa-size="[undefined,62]">
                <fa-surface class="menuSpace"></fa-surface>
            </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,52]" fa-align="[.09,0]">
                <fa-surface fa-background-color="'#ffffff'" class="menuSelections">
	                <a ui-sref=".accounts" ng-click="select()" class="menuLink">
                        <img src="images/servers.png" class="menuIcon accountsIcon" />
                        <p class="menuText accountsText">Accounts</p>
                    </a>
	            </fa-surface>
		    </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
                <fa-surface fa-background-color="'#ffffff'" class="menuSelections">
	                <a ui-sref=".transactions" ng-click="select()" class="menuLink">
                        <img src="images/coins.png" class="menuIcon" />
                        <p class="menuText">Cash Flow</p>
                    </a>
	            </fa-surface>
		    </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[undefined,50]">
                <fa-surface class="menuSpace"></fa-surface>
            </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
                <fa-surface fa-background-color="'#ffffff'" class="menuSelections">
	                <a ui-sref=".settings" ng-click="select()" class="menuLink">
                        <img src="images/settings.png" class="menuIcon" />
                        <p class="menuText">Settings</p>
                    </a>
	            </fa-surface>
		    </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
                <fa-surface class="menuButtonContainer"></fa-surface>
		    </fa-modifier>
		</fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
                <fa-surface fa-background-color="'#ffffff'" class="menuSelections">
	                <a ui-sref=".finances" ng-click="select()" class="menuLink">
                        <img src="images/box.png" class="menuIcon" />
                        <p class="menuText">Finances</p>
                    </a>
	            </fa-surface>
		    </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
                <fa-surface class="menuSpace nameContainer">
                    <img src="images/magnify.png" class="menuIcon" />
                    <p class="menuText">Gamble McAdam</p>
	            </fa-surface>
		    </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[undefined,40]">
                <fa-surface class="menuSpace noBorder"></fa-surface>
            </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,70]" fa-align="[.09,0]">
                <fa-surface class="menuButtonContainer">
                    <button class="menuButton addAccounts">Add Accounts</button>
                    <button class="menuButton questions">Questions</button>
	            </fa-surface>
		    </fa-modifier>
        </fa-view>
        <fa-view>
		    <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
                <fa-surface fa-background-color="'#ffffff'" fa-tap="main()" class="menuSelections">
                    <img src="images/coin.png" class="menuIcon cashIcon" />
                    <p class="menuText dailyCashMenuText">Daily Cash</p>
                </fa-surface>
            </fa-modifier>
        </fa-view>
	</fa-sequential-layout>
</fa-modifier>

<ui-view>