<fa-modifier  fa-translate="[0,0,1]">
    <fa-surface class="titleHeader" fa-tap="back()">
        <p class="hamburger">=</p>
        <p class="transactionTitle pageTitle">Finances</p>
        <p class="rightMenu">Edit</p>
    </fa-surface>
</fa-modifier>
<fa-modifier fa-translate="getTranslating">
	<fa-modifier fa-align="[0,1.095]" >
        <fa-view>
            <fa-surface fa-tap="select()" class="settingBackground">
                <div class="form-container">
                    <p class="labelText">Money left in your account at the end of the month?</p>
                    <div class="fieldHolder">
                        <input type="text" placeholder="$0.00" class="financeForm"/>
                    </div>
                </div>
                <div class="form-container">
                    <p class="labelText">Monthly income after taxes?</p>
                    <div class="fieldHolder">
                        <input type="text" placeholder="$0.00" class="financeForm"/>
                    </div>
                </div>
                <div class="form-container">
                    <p class="labelText">Total fixed expenses per month (rent, mortgage, bills, etc.)?</p>
                    <div class="fieldHolder">
                        <input type="text" placeholder="$0.00" class="financeForm"/>
                    </div>
                </div>
            </fa-surface>
        </fa-view>
	</fa-modifier>
</fa-modifier>