<fa-modifier fa-align='[0,.085]' fa-translate="[0,0,0,]" fa-size="[undefined,516]">
    <fa-scroll-view fa-pipe-from="eventHandler" fa size="[500,0]">
	    <fa-modifier fa-size="[undefined,235]">
            <fa-surface fa-index="0" fa-pipe-to="eventHandler" class="cashContainer">
                <canvas id="dailyCircle" width="500" height="235"></canvas>
                <div class="dailyCenter">
                    <h3 class="dailyCash"><span class="dollarBills">$</span><span class="cashText">37</span></h3>
                    <p class="dailyCashText">of daily cash <br/> left to spend</p>
                </div>
            </fa-surface>
	    </fa-modifier>
	    <fa-modifier fa-size="[undefined,245]">
            <fa-surface fa-index="1" fa-pipe-to="eventHandler" class="overviewSurface overviewContainer">
                <div class="overviewContent">
                    <p class="sectionTitle">Overview</p>
                    <h5 class="overviewLine"><span class="overviewLabel">Total Balance:</span><span class="overviewText">$799</span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Total Spent Today:</span><span class="overviewText">$0</span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Upcoming Bills:</span><span class="overviewText">$72</span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Money Leftover:</span><span class="overviewText">$761</span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Money Saved:</span><span class="overviewText">$18</span></h5>
                </div>
            </fa-surface>
	    </fa-modifier>
	    <fa-modifier fa-size="[undefined,245]">
            <fa-surface fa-index="2" fa-pipe-to="eventHandler" class="graphSurface"></fa-surface>
	    </fa-modifier>
	</fa-scroll-view>
</fa-modifier>

<fa-modifier fa-size="[undefined, 50]" fa-translate="[0,0,0]" fa-align="[0,-.004]">
    <fa-surface></fa-surface>
        <fa-grid-layout fa-options='{dimensions: [3,1]}'>
	        <fa-modifier fa-origin="[.2, .5]" fa-scale="[1.2, 1.2]">
	            <fa-surface fa-size="[true, true]" fa-background-color="'#ffffff'" fa-color="'#BADA55'">
	                <a ui-sref=".menu" class="topButton"><img src="images/hamburger.png" class="hamburgerIcon" /></a>
	            </fa-surface>
	        </fa-modifier>
            <fa-modifier fa-origin="[.5, .5]" fa-scale="[1.5, 1.5]">
                <fa-surface fa-size="[true, true]" fa-background-color="'#ffffff'">
                    <p class="pageTitle">Affordably</p>
                </fa-surface>
            </fa-modifier>
            <fa-modifier fa-origin="[.8, .5]" fa-scale="[1.2, 1.2]">
                <fa-surface fa-size="[true, true]" fa-background-color="'#ffffff'" fa-color="'#BADA55'">
                    <a ui-sref=".institutions" class="topButton"><img src="images/plus.png" class="hamburgerIcon" /></a>
                </fa-surface>
            </fa-modifier>
        </fa-grid-layout>
</fa-modifier>
<ui-view>

<script>
    $(function() {
        var can = document.getElementById('dailyCircle');
        var ctx = can.getContext('2d');
        ctx.beginPath()
        ctx.arc(152.5,115,100,0,Math.PI*2, false); // outer (filled)
        ctx.arc(152.5,115,88,0,Math.PI*2, true); // inner (unfills it)
        ctx.fillStyle = '#dbdbdb';
        ctx.fill();
    });
</script>