<fa-modifier fa-translate="getTranslater" fa-translate="[0,0,1]" fa-size="[undefined,65]" fa-align="[1,0]">
<fa-surface fa-translate="[0,0,0]" fa-background-color="'#fff'"></fa-surface>
    <fa-grid-layout fa-options='{dimensions: [3,1]}'>
        <fa-modifier fa-align="[.2,.5]" fa-translate="[0,0,1]" fa-scale="[1, 1]">
            <fa-surface fa-size="[45, 45]"  fa-tap="back()">
                <img src="images/hamburger.png" class="hamburgerIcon"/>
            </fa-surface>
        </fa-modifier>
        <fa-modifier fa-align="[-.1, .4]" fa-size="[undefined, 50]" fa-translate="[0,0,1]">
            <fa-surface>
                <p class="transactionTitle pageTitle">Accounts</p>
            </fa-surface>
        </fa-modifier>
    </fa-grid-layout>
</fa-modifier>
<fa-modifier fa-translate="getTranslating" fa-align="[0,1.077]">
    <fa-modifier fa-origin="[0,0]">
        <fa-view>
            <fa-surface fa-tap="select()" class="settingBackground">
                <div class="form-container">
                    <p class="labelText" ng-bind="data.banking.bank[0].name"></p>
                    <div class="fieldHolder">
                        <p>Checking - {{data.banking.bank[0].balance | currency}}</p>
                    </div>
                </div>
            </fa-surface>
        </fa-view>
    </fa-modifier>
    <fa-modifier fa-origin="[0,-.2]">
        <fa-view>
            <fa-surface fa-tap="select()" class="settingBackground">
                <div class="form-container">
                    <p class="labelText" ng-bind="data.banking.bank[1].name"></p>
                    <div class="fieldHolder">
                        <p>Savings - {{data.banking.bank[1].balance | currency}}</p>
                    </div>
                </div>
            </fa-surface>
        </fa-view>
    </fa-modifier>
    <fa-modifier fa-origin="[0,-.4]">
        <fa-view>
            <fa-surface fa-tap="select()" class="settingBackground">
                <div class="form-container">
                    <p class="labelText" ng-bind="data.banking.bank[2].name"></p>
                    <div class="fieldHolder">
                        <p>Debt - {{data.banking.bank[2].balance | currency}}</p>
                    </div>
                </div>
            </fa-surface>
        </fa-view>
    </fa-modifier>
</fa-modifier>