<fa-modifier fa-align='[0,.085]' fa-translate="[0,0,0,]" fa-size="[undefined,520]">
    <fa-scroll-view fa-pipe-from="eventHandler" fa size="[500,0]">
	    <fa-modifier fa-size="[undefined,235]">
            <fa-surface fa-index="0" fa-pipe-to="eventHandler" class="cashContainer">
            <div class="center">

                <canvas donutchart id="dailyCircle"options="myChartOptions" data="myChartData" width="350" height="220"></canvas>

                <div class="dailyCenter">
                    <h3 class="dailyCash"><span class="dollarBills"></span><span class="cashText" ng-bind="data.daily_cash | noFractionCurrency"></span></h3>
                    <p class="dailyCashText">of daily cash <br/> left to spend</p>
                </div>
            </div>
            </fa-surface>
	    </fa-modifier>
	    <fa-modifier fa-size="[undefined,245]">
            <fa-surface fa-index="1" fa-pipe-to="eventHandler" class="overviewSurface overviewContainer">
                <div class="overviewContent">
                    <p class="sectionTitle">Overview</p>
                    <h5 class="overviewLine"><span class="overviewLabel">Total Balance:</span><span class="overviewText" ng-bind="data.total_available | noFractionCurrency"></span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Total Spent Today:</span><span class="overviewText" ng-bind="data.daily_spent | noFractionCurrency"></span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Upcoming Bills:</span><span class="overviewText" ng-bind="data.fixed_left | noFractionCurrency"></span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Money Leftover:</span><span class="overviewText" ng-bind="data.money_left | noFractionCurrency"></span></h5>
                    <h5 class="overviewLine"><span class="overviewLabel">Money Saved:</span><span class="overviewText" ng-bind="data.saved | noFractionCurrency"></span></h5>
                </div>
            </fa-surface>
	    </fa-modifier>
	    <fa-modifier fa-size="[undefined,250]">
            <fa-surface fa-index="2" fa-pipe-to="eventHandler" class="graphSurface">
                <div class="graph">
                    <p class="chartTitle">Week of Spending</p>

                    <canvas linechart id="dailyChart" options="options" data="chart" width="300" height="175"></canvas>
                </div>
            </fa-surface>
	    </fa-modifier>
	</fa-scroll-view>
</fa-modifier>

<fa-modifier fa-size="[undefined, 50]" fa-translate="[0,0,0]" fa-align="[0,-.004]">
    <fa-surface fa-background-color="'#fff'"></fa-surface>
        <fa-grid-layout fa-options='{dimensions: [3,1]}'>
	        <fa-modifier fa-origin="[.2, .5]" fa-scale="[1.2, 1.2]">
	            <fa-surface fa-size="[true, true]" fa-background-color="'#ffffff'" fa-color="'#BADA55'">
	                <a ui-sref=".menu" class="topButton"><img src="images/hamburger.png" class="hamburgerIcon" /></a>
	            </fa-surface>
	        </fa-modifier>
            <fa-modifier fa-align="[0, -.2]" fa-scale="[1.5, 1.5]" fa-size="[undefined, 50]">
                <fa-surface>
                    <p class="pageTitle">Affordably</p>
                </fa-surface>
            </fa-modifier>
            <fa-modifier fa-origin="[.8, .5]" fa-scale="[1.2, 1.2]">
                <fa-surface fa-size="[true, true]" fa-background-color="'#ffffff'">
                    <a ui-sref=".institutions" class="topButton"><img src="images/plus.png" class="hamburgerIcon" /></a>
                </fa-surface>
            </fa-modifier>
        </fa-grid-layout>
</fa-modifier>
<ui-view>