<fa-modifier  fa-translate="[0,0,1]" fa-size="[undefined,50]">
    <fa-surface class="titleHeader" fa-tap="back()">
        <img src="images/hamburger.png" class="hamburgerIcon2" />
        <p class="transactionTitle pageTitle">Accounts</p>
    </fa-surface>
</fa-modifier>
<fa-modifier fa-translate="getTranslating">
    <fa-modifier fa-align="[0,1.085]" >
        <fa-view>
            <fa-surface fa-tap="select()" class="settingBackground">
                <div class="form-container">
                    <p class="labelText" ng-bind="data.banking.bank[0].name"></p>
                    <div class="fieldHolder">
                        <p>Checking - {{data.banking.bank[0].balance | currency}}</p>
                    </div>
                </div>
            </fa-surface>
        </fa-view>
    </fa-modifier>
</fa-modifier>