  <fa-modifier fa-align='[-1,0]' fa-translate="getTranslated">
  	<fa-sequential-layout>
	  	<fa-view>
		  <fa-modifier fa-size="[undefined,62]">
        <fa-surface fa-index="" fa-background-color="'#ffffff'">
	      </fa-surface>
      </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'" fa-tap="select()">
	        <a ui-sref=".accounts">Accounts</a>
	      </fa-surface>
		  </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'" fa-tap="select()">
	         <a ui-sref= ".transactions">Cash Flow</a>
	      </fa-surface>
		  </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[undefined,50]">
        <fa-surface fa-background-color="'#ffffff'">
	      </fa-surface>
      </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'" fa-tap="select()">
	        <a ui-sref=".settings">Settings</a>
	      </fa-surface>
		  </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'">
	        Questions
	      </fa-surface>
		  </fa-modifier>
		</fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'" fa-tap="select()">
	        <a ui-sref=".finances">Finances</a>
	      </fa-surface>
		  </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'">
	        Gamble McAdam
	      </fa-surface>
		  </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[undefined,62]">
        <fa-surface fa-background-color="'#ffffff'">
		    </fa-surface>
      </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'">
	        Add Accounts
	      </fa-surface>
		  </fa-modifier>
    </fa-view>
    <fa-view>
		  <fa-modifier fa-size="[290,50]" fa-align="[.09,0]">
        <fa-surface fa-background-color="'#ffffff'" fa-tap="main()">
	        <!-- <a ui-sref="main" > -->Daily Cash<!-- </a> -->
	      </fa-surface>
      </fa-modifier>
    </fa-view>
	</fa-sequential-layout>
	</fa-modifier>

<ui-view>