<fa-modifier fa-size="[undefined, undefined]" fa-translate="success">
  <fa-surface fa-background-color="'#ffffff'"></fa-surface>
</fa-modifier>

<fa-modifier fa-size="[undefined, undefined]" fa-align="[0,0.1]" fa-translate="success">
  <fa-surface>
      <div class="bankSearch">
  	    <h1 class="affordablyFont">Affordably</h1>
	    <h5 class="title">Sign into your {{inst.institution_name}} account</h5>
      </div>
  </fa-surface>
  <fa-modifier fa-align="[0,.2]">
	  <fa-surface ng-if="data.type=='choice'">
      <div class="linkAccountForm">
        <div>
          <p ng-bind="data.text"></p>
          <hr class="inputLine">
          <select name="user_id" data-ng-model="choice" class="linkInput" ng-options="choice for choice in choices">
          	<option value="">-- Select Answer --</option>
          </select>
          <br>
        </div>
      </div>
      <button ng-click="submit(choice)" class="goalButton">Submit</button>
	  </fa-surface>
	</fa-modifier>
  <fa-modifier fa-align="[0,.2]">
	  <fa-surface ng-if="data.type=='text'">
      <div class="linkAccountForm">
        <div>
          <p ng-bind="data.text"></p>
          <hr class="inputLine">
          <input type="text" name="user_id" data-ng-model="text" class="linkInput"/>
          <br>
        </div>
      </div>
      <button type="submit" ng-click="submit(text)" class="goalButton">Submit</button>
	  </fa-surface>
  </fa-modifier>
  <fa-modifier fa-align="[0,.2]">
	  <fa-surface ng-if="data.type=='multi-text'">
      <div class="linkAccountForm">
        <div>
          <p ng-bind="data.text1"></p>
          <hr class="inputLine">
          <input type="text" name="user_id" data-ng-model="textOne" class="linkInput"/>
          <br>
        </div>
        <div>
          <p ng-bind="data.text2"></p>
          <hr class="inputLine">
          <input type="text" name="user_id" data-ng-model="textTwo" class="linkInput"/>
          <br>
        </div>
      </div>
      <button type="submit" ng-click="submitMulti(textOne, textTwo)" class="goalButton">Submit</button>
	  </fa-surface>
  </fa-modifier>
  <fa-modifier fa-align="[0,.2]">
	  <fa-surface ng-if="data.type=='image'">
            <p>
                Your bank requires extra authentication that needs to be completed on the web.
                Please log in at <a href="https://www.affordably.me">affordably.me</a> and try again.
            </p>
	  </fa-surface>
  </fa-modifier>
</fa-modifier>