<fa-modifier fa-size="[undefined, undefined]" fa-translate="success">
  <fa-surface fa-background-color="'#ffffff'"></fa-surface>
</fa-modifier>

<fa-modifier fa-size="[undefined, undefined]" fa-align="[0,0.1]" fa-translate="success">
  <fa-surface>
      <div class="bankSearch">
  	    <h1 class="affordablyFont">Affordably</h1>
	    <h5 class="title">Sign into your {{inst.institution_name}} account</h5>
      </div>
  </fa-surface>
  <fa-modifier fa-align="[0,.2]">
	  <fa-surface ng-if="data.type=='choice'">
      <div class="linkAccountForm">
        <div>
          <p class="linkAccountLabel">Choice</p>
          <p ng-bind="data.text"></p>
          <hr class="inputLine">
          <input type="text" name="user_id" data-ng-model="choice" class="linkInput"/>
          <br>
        </div>
      </div>
	  </fa-surface>
	</fa-modifier>
  <fa-modifier fa-align="[0,.2]">
	  <fa-surface ng-if="data.type=='text'">
      <div class="linkAccountForm">
        <div>
          <p class="linkAccountLabel">Text</p>
          <p ng-bind="data.text"></p>
          <hr class="inputLine">
          <input type="text" name="user_id" data-ng-model="choice" class="linkInput"/>
          <br>
        </div>
      </div>
	  </fa-surface>
  </fa-modifier>
  <fa-modifier fa-align="[0,.2]">
	  <fa-surface ng-if="data.type=='image'">
      <div class="linkAccountForm">
        <div>
          <p class="linkAccountLabel">Image</p>
          <p ng-bind="data.text"></p>
          <hr class="inputLine">
          <input type="text" name="user_id" data-ng-model="choice" class="linkInput"/>
          <br>
        </div>
      </div>
	  </fa-surface>
  </fa-modifier>
  <fa-modifier fa-align="[0,.4]">
	  <fa-surface>
		  <button type="submit" ng-click="submit(goal)" class="goalButton">Submit</button>
		</fa-surface>
	</fa-modifier>
</fa-modifier>