<fa-modifier fa-size="[undefined, undefined]" fa-translate="success">
  <fa-surface fa-background-color="'#ffffff'"></fa-surface>
</fa-modifier>
<fa-modifier fa-size="[undefined, 300]" fa-origin="[0,.25]" fa-translate="success">
  <fa-surface>
	  <div class="sign">
			<h1 class="logo">Affordably</h1>
			<h5 class="title">The Fitness Coach for Your Finances</h5>
			<form class="signIn">
                <div class="email">
                    <input type="text" placeholder="Email" data-ng-model="email" class="signInInput"/>
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" data-ng-model="password" class="signInInput"/>
                </div>

                <button type="submit" ng-click="submit(email, password)">Log In</button>
                <div ng-model="message"></div>
            </form>
			<p id="noAccountMessage">Don't have an account?</p>
			<h4 id="signUpLink"><a ui-sref="signUp">Sign Up</a></h4>
	  </div>
	</fa-surface>
</fa-modifier>