<fa-modifier fa-size="[undefined, undefined]" fa-translate="success">
    <fa-surface fa-background-color="'#ffffff'"></fa-surface>
</fa-modifier>
<fa-modifier fa-size="[undefined, 300]" fa-origin="[0,.0]" fa-translate="success">
        <fa-surface>
            <div class="sign">
                <h1 class="logo">Affordably</h1>
                <h5 class="title">Ready to start saving?</h5>
                <div flash-alert="error" active-class="in" class="alert fade">
                    <span class="alert-message">{{flash.message}}</span>
                </div>
                <form class="signIn signForm">
                    <div class="email linkAccountContainer">
                        <p class="linkAccountLabel">Email</p>
                        <hr class="inputLine">
                        <input type="text" placeholder="Email" ng-model="email" class="linkInput" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                        <br>
                    </div>
                    <div class="password linkAccountContainer">
                        <p class="linkAccountLabel">Password</p>
                        <hr class="inputLine">
                        <input type="password" placeholder="Password" ng-model="password" class="linkInput" required ng-focus="scroll()" ng-blur="scrollBack()" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-change="check(password)"/>
                        <br>
                    </div>
                    <div class="password linkAccountContainer">
                        <p class="linkAccountLabel">Confirm Password</p>
                        <hr class="inputLine">
                        <input type="password" placeholder="Re-type Password" ng-model="password_confirm" class="linkInput" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " ng-focus="scroll()" ng-blur="scrollBack()" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-change="checkConfirm(password_confirm)"/>
                        <br>
                    </div>
                    <input type="checkbox" ng-model="tos"/>
                    <label for="">By checking this box you agree to our <a href="#">Terms of Service</a>.</label>
                    <button type="submit" ng-disabled="!tos" ng-click="submit(email, password)" class="signUpButton">Sign Up</button>
                </form>
                <div ng-bind="message"></div>
                <p id="noAccountMessage">Already have an account?</p>
                <h4 id="signUpLink" ng-click="signIn()"><a ui-sref="signIn">Sign In</a></h4>
            </div>
        </fa-surface>
        <fa-surface ng-show="spin">
            <span us-spinner></span>
        </fa-surface>
</fa-modifier>