<fa-modifier fa-size="[true, true]" fa-translate="success">
  <fa-surface fa-background-color="'#fff'"></fa-surface>
</fa-modifier>
<fa-modifier fa-align="[.1,.1]" fa-size="[270,100]" fa-opacity="fadeIn">
  <fa-surface fa-background-color="'#fff'">
	  <h1>Tips:</h1>
		<div ng-bind="tip"></div>
	</fa-surface>
</fa-modifier>
<fa-modifier fa-size="[100, 100]" fa-translate="success" fa-align="[.345,.5]">
  <fa-surface fa-background-color="'#fff'">
		<span us-spinner></span>
	</fa-surface>
</fa-modifier>